/* digit-style.css
 *
 * Stylesheet for details pertaining to the digital display on the calculator
 */


:root {
    /* digit-specifics here.
     * Inherit from --digit-display-height and --digit-display-width
     */
    --num-digits: 3; /* to be overwritten */

    --padding-total: calc(0.1 * var(--digit-display-width));

    --digit-width: calc(0.9 * var(--digit-display-width) / var(--num-digits));
    --digit-height: calc(0.9 * var(--digit-display-height));

    --digit-border-size: calc(var(--digit-width) / 10);

    --digit-color: #444445;
}

.digit-display {
    flex: 0 1 auto;
    border: 2px solid black;
    background-color: #bcbeb0;
    box-sizing: border-box;
    width: var(--digit-display-width);
    height: var(--digit-display-height);
    justify-content: space-evenly;
    padding: calc(0.5 * 0.1 * var(--digit-display-width) / var(--num-digits));
}

.digit-box {
    box-sizing: border-box;
    display: flex;
    height: var(--digit-height);
    width: var(--digit-width);
    align-items: stretch;
    flex-direction: column;

}

.digit-row {
    display: flex;
    align-items: stretch;
}

.digit-cell {
    flex: 1;
}

.digit-box .width-low {
    flex: 1;
}

.digit-box .width-high {
    flex: 4;
}

.digit-box .height-low {
    flex: 1;
}

.digit-box .height-high {
    flex: 4
}

.lightable-cell-vertical {
    display: flex;
    flex-direction: column;
}

.lightable-cell-horizontal {
    display: flex;
    flex-direction: row;
}



.decimal-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 0;

}

.decimal-wrapper {
    margin-top: auto;
    display: flex;
    flex-direction: row nowrap;
}



.decimal-left,
.decimal-right,
.cell-end-left,
.cell-end-right,
.cell-end-top,
.cell-end-bottom {
    flex: 0;
    background-color: transparent;
}

.cell-middle-horizontal,
.cell-middle-vertical {
    flex: 4;
    background-color: transparent;
}

.digit-lit.cell-middle-horizontal,
.digit-lit.cell-middle-vertical {
    background-color: var(--digit-color);
}


.digit-lit.decimal-left,
.digit-lit.cell-end-left {
    border-right: var(--digit-border-size) solid var(--digit-color); 
    border-top: var(--digit-border-size) solid transparent;
    border-left: 0px solid transparent;
    border-bottom: var(--digit-border-size) solid transparent;
}

.digit-lit.decimal-right,
.digit-lit.cell-end-right {
    border-right: 0px solid transparent;
    border-top: var(--digit-border-size) solid transparent;
    border-left: var(--digit-border-size) solid var(--digit-color);
    border-bottom: var(--digit-border-size) solid transparent;
}

.digit-lit.cell-end-top {
    border-right: var(--digit-border-size) solid transparent;
    border-top: 0px solid transparent;
    border-left: var(--digit-border-size) solid transparent;
    border-bottom: var(--digit-border-size) solid var(--digit-color);
}

.digit-lit.cell-end-bottom {
    border-right: var(--digit-border-size) solid transparent;
    border-top: var(--digit-border-size) solid var(--digit-color);
    border-left: var(--digit-border-size) solid transparent;
    border-bottom: 0px solid transparent;

}

