/* digit-style.css
 *
 * Stylesheet for details pertaining to the digital display on the calculator
 */
.digit-display {
    border: 2px solid black;
    box-sizing: border-box;
    width: 400px;
    justify-content: space-evenly;
}

.digit-box {
    display: flex;
    height: 200px;
    width: 100px;
    align-items: stretch;
    flex-direction: column;
}

.digit-row {
    display: flex;
    align-items: stretch;
}

.digit-cell {
    flex: 1;
    /* border: 2px solid black; */
}

.digit-box .width-low {
    flex: 1;
}

.digit-box .width-high {
    flex: 4;
}

.digit-box .height-low {
    flex: 1;
}

.digit-box .height-high {
    flex: 4
}

.lightable-cell-vertical {
    display: flex;
    flex-direction: column;
}

.lightable-cell-horizontal {
    display: flex;
    flex-direction: row;
}

.cell-end-left,
.cell-end-right,
.cell-end-top,
.cell-end-bottom {
    flex: 0;
    background-color: transparent;
}

.cell-middle-horizontal,
.cell-middle-vertical {
    flex: 4;
    background-color: transparent;
}

.digit-lit.cell-middle-horizontal,
.digit-lit.cell-middle-vertical {
    background-color: red;
}

.digit-lit.cell-end-left {
    border-right: 10px solid red;
    border-top: 10px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 10px solid transparent;
}

.digit-lit.cell-end-right {
    border-right: 0px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid red;
    border-bottom: 10px solid transparent;
}

.digit-lit.cell-end-top {
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid red;
}

.digit-lit.cell-end-bottom {
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    border-left: 10px solid transparent;
    border-bottom: 0px solid transparent;

}

