/* keypad-style.css
 *
 * Stylesheet for details pertaining to the keypad on the calculator
 */

/* Using --keypad-width & --keypad-height from style.css */
:root {
    --keypad-button-unit-width: calc(var(--keypad-width) / 4);
    --keypad-button-unit-height: calc(var(--keypad-height) / 5);
}

.keypad {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    width: var(--keypad-width);
    height: var(--keypad-height);
}

.keypad-section-rows {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.keypad-section-columns {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.keypad-button-row {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.keypad-button-column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.keypad-button {
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid #aaaaaa;
}

.keypad-button-pressed {
    border-top: 10px solid #ffffff;
    border-left: 10px solid #aaaaaa;
}


.small-button {
    width: var(--keypad-button-unit-width);
    height: var(--keypad-button-unit-height);
    flex: 0 1 auto;
}

.wide-button {
    width: calc(2 * var(--keypad-button-unit-width));
    flex: 0 2 auto;
}

.tall-button {
    height: calc(2 * var(--keypad-button-unit-height));
    flex: 0 2 auto;
}
