/* The "header" style.css file */


:root {
    /* define an overall height & width, then set ratio */

    --calculator-height: 600px;
    --calculator-width: 400px;

    --digit-display-height: calc((1 / 8) * var(--calculator-height));
    --digit-display-width: calc((5 / 6) * var(--calculator-width));

    --keypad-width: calc((5 / 6) * var(--calculator-width));
    --keypad-height: calc((5 / 4) * var(--keypad-width));

    --calculator-border-size: calc(min(var(--calculator-height), var(--calculator-width)) / 25);
}


.calculator {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;
    display: flex;
    width: var(--calculator-width);
    height: var(--calculator-height);
    background-color: #00000033;

    border-right: var(--calculator-border-size) solid #80808073;
    border-bottom: var(--calculator-border-size) solid gray;

}
