/* The "header" style.css file */


:root {
    /* define an overall height & width, then set ratio */

    --calculator-height: 600px;
    --calculator-width: 400px;

    --digit-display-height: calc((1 / 6) * var(--calculator-height));
    --digit-display-width: var(--calculator-width);
    --keypad-height: calc((5 / 6) * var(--calculator-height));
    --keypad-width: var(--calculator-width);
}
