/* The "header" style.css file */


:root {
    /* define an overall height & width, then set ratio */

    --calculator-height: 600px;
    --calculator-width: 400px;

    --digit-display-height: calc((1 / 8) * var(--calculator-height));
    --digit-display-width: calc((3 / 4) * var(--calculator-width));

    --keypad-height: calc((5 / 8) * var(--calculator-height));
    --keypad-width: calc((3 / 4) * var(--calculator-width));
}


.calculator {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;
    display: flex;
    width: var(--calculator-width);
    height: var(--calculator-height);
    background-color: #00000033;
}
